@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  letter-spacing: 0.01em;
  text-rendering: geometricPrecision;
}

p {
  line-height: 1.9;
}

h1, h2, h3 {
  text-rendering: geometricPrecision;
}

@media (max-width: 640px) {
  p { line-height: 1.7; }
}
