@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif; /* o il font che preferisci */
  -webkit-font-smoothing: antialiased;
}

* {
  border-color: rgba(255, 255, 255, 0.1);
}