@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #0a0a0a !important;
  color: #ffffff !important;
  margin: 0;
  padding: 0;
}

* {
  color: white !important;
  background-color: transparent;
}

main {
  background-color: #0a0a0a !important;
}