@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: black !important;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}