@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0a0a0a;
}

body {
  background-color: #0a0a0a !important;
  color: white !important;
  margin: 0;
  min-height: 100vh;
}