@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  -webkit-font-smoothing: antialiased;
}

/* Rende tutto il sito sottile e arioso */
* {
  font-weight: 200 !important; /* Forza il font extralight ovunque */
}

h1, h2, h3, a, button {
  letter-spacing: 0.2em; /* Distanza tra le lettere per i titoli */
}